.slidecontainer input {
    width:100%;
    background: linear-gradient(to right, green 72%, yellow 14%, red);
}



/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}

/* The slider handle (use -webkit- to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #FFFFFF; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* test for sliding colors */ 

/*
.left-color {
    background: green;  
}*/

.carousel-caption {
    top:50;
}

.card {
    width:80%;
}

#barChart{
  background-color: aliceblue;
  border-radius: 6px;
}

.bubbleChart {
    min-width: 100px;
    max-width: 700px;
    height: 700px;
    margin: 0 auto;
}

.bubbleChart svg{
    background: #000000;
}

#map, #pano {
    height: 300px;
    width: 600px;
}

.sidebarContent{
    margin-bottom: 10px;
    min-height: 150px;
    background-color: silver;
    text-align: center;
    font-size: large;
}

.liquidFillGaugeText { 
    font-family: Helvetica; 
    font-weight: bold; 
}
/* test: delete!! */ 
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.demo-1 {
    background: no-repeat center/cover url('/static/windows.jpg');
}

.house-1{
    background: no-repeat center/cover url('/static/vintage_home.jpg');
}

/*.row .col {
    margin: 0 25px;
}*/

.col-box {
    margin: 0 25px;
}

.white {
    background-color: white; 
}

.gold{
    color:#C0B283;
}

.card-box {
    margin: 0 25px;
}

/*#vintage-home {
    height: 300px;
    border: solid 1px black;
}
*/


