<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE HERE{% endblock %}</title>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src='static/Chart.min.js'></script>
</head>
<body>
    <div>
        {% block content %}CONTENT HERE{% endblock %}
    </div>

    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>