{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class = "col-1" style="font-size: 45px;">
                <i class="fas fa-home fa-lg"></i>
            </div>
            <div class = "col-8">
                <h3> {{ address }}</h3>
                <h4> {{ citystatezip }}</h4>
            </div>
            <div class="col">
                <h3> Home Value: </h3>
                <h4>{{ zestimate }}</h4>
            </div>
        </div>
        <div class="row">
            <div class = "col" id="pano">    
            </div>
            <div class="col" id="map">
            </div>
        </div>
    </div>

    <!-- <h2>Home Details</h2> -->
    <div>
       <!--  Home Value : {{ zestimate }} 
        <br> -->
        Est. Property Taxes : {{ property_taxes }}
        <br>
        Est. Homeowners Insurance : {{ ho_ins }}
        <br>
        Est. Monthly Mortgage Payment : {{ mort_pay }}
        <br>
        Monthly Salary: {{ mo_salary }}
        <br>
        Remaining Budget: {{ remaining_budget }}
        <br>
        lat/long: {{ home_latitude }}, {{ home_longitude }}
        <br>
        {% if session.get('username') %}
        
            {% if affordable %}
                You can afford this! :) 
            {% else: %}
                You too poor, fool! 
            {% endif %}  
        {% endif %}

    </div>  

    <div>
        <h1>Monthly Budget
            <button class="btn btn-success" onclick="updateChart()">Update</button>
            <button class="btn btn-success" onclick="revertChart()">Revert</button>
        </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="donutChart"></canvas>
                <div id="donutLegend" class="chart-legend"></div>
            </div>
            <div class="col">
                <canvas id="barChart"></canvas>
                <div id="barLegend" class="chart-legend"></div>
            </div>    
        </div>
    </div>

    <!-- <div class="bubbleChart"></div> -->


   <!--  <div class="slidecontainer">
        <input type="range" min="1" max="50" value="36" class="slider" id="myRange">
        <p id="demo"></p>
        <button onclick="myFunction()">Try it</button>
    </div> -->

    <div class="card">
        <div class="card-body">
            
            <h3 class="text-center font-weight-bold blue-text mt-3 mb-3 pb-4">
                <strong>Slide to see how much you can afford</strong></h3>
            <hr>

            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="{{ dti_ratio }}" class="slider" id="myRange"></input>
                
                <span>
                    <p id="sliderNumber" value = "{{ dti_ratio }}">{{ dti_ratio }}</p>
                    Debt-to-Income Ratio
                </span><span>
                    <p id="moPay" value = "{{ dti_ratio }} * {{ mo_salary_left}}">{{ dti_ratio * mo_salary_left /100 }}</p>
                    <br>
                    Monthly Payment
                </span>
            </div>
        </div>
    </div>

            <!-- <div class="slidecontainer">
                <input style="background-color:green;width:36%" type="range" min="1" max="36" value="{{ dti_ratio }}" class="slider" id="myRange2"></input><input style="background-color:yellow;width:14%" type="range" min="36" max="100" value="{{ dti_ratio }}" class="slider" id="myRange3"></input><input style="background-color:red;width:50%" type="range" min="36" max="100" value="{{ dti_ratio }}" class="slider" id="myRange3"></input>            
            </div> -->


    <!-- <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpYu5FPHtj4ARkgr3qz5GhhE&key=AIzaSyDbqsyjf_TjqWV14JYv3EmpvQVv8j-mHtY" allowfullscreen></iframe> -->

    <!-- <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/view
  ?key=YOUR_API_KEY
  &center=37.765402,-121.918362 
  &zoom=18
  &maptype=satellite" allowfullscreen></iframe> -->

    <!-- <div id="map_canvas" style="width:700px; height:500px; margin-left:80px;"></div> -->

    <!-- <div id="map"></div> -->

    <!-- <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644}, 
                zoom:8
            });
        }
    </script> -->
<!-- I COMMENTED OUT SO IT DOESN'T CALL GOOGLE MAPS API AND CHARGE -->
    <!-- <div id="map"></div> -->

    <script>
      var latitude = parseFloat('{{ home_latitude }}');
      var longitude = parseFloat('{{ home_longitude }}');
      // function initMap() {
      //   var myLatLng = {lat: latitude, lng: longitude}; 
      //   var map = new google.maps.Map(
      //       document.getElementById('map'), {zoom: 18, center: myLatLng});
      //   var marker = new google.maps.Marker({position: myLatLng, map: map});
      // }
      function initialize() {
        var myLatLng = {lat: latitude, lng: longitude}; 
        var map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng, 
            zoom: 18
        });
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'),{
                position: myLatLng,
                pov: {
                    heading: 245, 
                    pitch: 10
                }
            }); 
        map.setStreetView(panorama);
      }

    </script>
    <<!-- script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbqsyjf_TjqWV14JYv3EmpvQVv8j-mHtY&callback=initMap">
    </script> -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbqsyjf_TjqWV14JYv3EmpvQVv8j-mHtY&callback=initialize">
    </script>
    <script type="text/javascript">

        const options = {
            responsive: true
        };

        // Make donut chart of monthly budget 

        let ctx_donut = $("#donutChart").get(0).getContext("2d");

        var random_var = '{{ rand_var }}';
        var random_var2 = '{{ user.other_debts}}';
        var random_var3 = '{{ mo_salary_left }}';
        var random_var4 = random_var3 - random_var2 - random_var
    
        // var random_var = {{ mort_pay|tojson }}; 

        // $.get("/monthly-budget.json", function (data) {
        let myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: {
                                                labels: ["Remaining Monthly Income", "PITI", "Other Debts"],
                                                datasets: [
                                                {
                                                "data": [random_var4, random_var, random_var2],
                                                "backgroundColor": [
                                                    "#FF6384",
                                                    "#36A2EB",
                                                    "#FFCE56"
                                                ]
                                                }
                                                ]
                                              },
                                              options: options
                                            });
        $('#donutLegend').html(myDonutChart.generateLegend());
        // });

        let ctx_bar = $("#barChart").get(0).getContext("2d")

        let myBarChart = new Chart(ctx_bar, {
                                        type: 'bar',
                                        data: {
                                            labels: ["Remaining Monthly Income", "PITI", "Other Debts"],
                                            datasets: [
                                                {
                                                "data": [random_var4, random_var, random_var2],
                                                "backgroundColor": [
                                                    "#FF6384",
                                                    "#36A2EB",
                                                    "#FFCE56"
                                                ]
                                                }
                                                ]
                                              },
                                              options: options
                                            });
                                        
        $('#barLegend').html(myBarChart.generateLegend());

        var another_var = '{{ mo_salary_left }}' * .64; 
        var another_var2 = ('{{ mo_salary_left }}' * .36) - random_var2;

        function updateChart() {
            myDonutChart.data.datasets[0].data = [another_var, another_var2, random_var2];
            myDonutChart.update();
            myBarChart.data.datasets[0].data = [another_var, another_var2, random_var2];
            myBarChart.update();
        }

        function revertChart() {
            myDonutChart.data.datasets[0].data = [random_var4, random_var, random_var2];
            myDonutChart.update();
            myBarChart.data.datasets[0].data = [random_var4, random_var, random_var2];
            myBarChart.update();
        }

        /* For first slider */ 
        var slider = document.getElementById("myRange");
        // var output = document.getElementById("demo");
        var sliderNumber = document.getElementById("sliderNumber");
        // output.innerHTML = slider.value; 
        var moPay = document.getElementById("moPay"); 
        // var debts = '{{ other_debts }}'; 



        slider.onchange = function() {
            sliderNumber.innerHTML = this.value; 
            moPay.innerHTML = (slider.value * random_var3 / 100) - random_var2; 
        }


    </script>


{% endblock %}