{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h2>Home Details</h2>
    <div>
        Home Value : {{ zestimate }} 
        <br>
        Est. Property Taxes : {{ property_taxes }}
        <br>
        Est. Homeowners Insurance : {{ ho_ins }}
        <br>
        Est. Monthly Mortgage Payment : {{ mort_pay }}
        <br>
        Monthly Salary: {{ mo_salary }}
        <br>
        Remaining Budget: {{ remaining_budget }}
        <br>
        {% if session.get('username') %}
        
            {% if affordable %}
                You can afford this! :) 
            {% else: %}
                You too poor, fool! 
            {% endif %}  
        {% endif %}

    </div>  

    <div>
        <h1>Monthly Budget
            <button class="btn btn-success" onclick="updateChart()">Update</button>
            <button class="btn btn-success" onclick="revertChart()">Revert</button>
        </h1>
    </div>

    <div class="melon-chart">
        <canvas id="donutChart"></canvas>
        <div id="donutLegend" class="chart-legend"></div>
    </div>


    <div class="slidecontainer">
        <input type="range" min="1" max="50" value="36" class="slider" id="myRange">
    </div>

    <div class="card">
        <div class="card-body">
            
            <h3 class="text-center font-weight-bold blue-text mt-3 mb-3 pb-4">
                <strong>Slide to see how much you can afford</strong></h3>
            <hr>

            <div class="slidecontainer">
                <input type="range" min="1" max="50" value="36" class="slider" id="myRange">
            </div>

            <div class="row">
      <!-- Grid column -->

      <!-- Grid column -->
                <div class="col-md-6 text-center pb-5">

                    <h2><span class="badge blue lighten-2 mb-4">Client pays</span></h2>
                    <h2 class="display-4" style="color:#0d47a1"><strong id="clientPrice">319$</strong></h2>

                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        const options = {
            responsive: true
        };

        // Make donut chart of monthly budget 

        let ctx_donut = $("#donutChart").get(0).getContext("2d");

        var random_var = '{{ rand_var }}';
        var random_var2 = '{{ user.other_debts}}';
        var random_var3 = '{{ mo_salary_left }}';
        var random_var4 = random_var3 - random_var2 - random_var
    
        // var random_var = {{ mort_pay|tojson }}; 

        // $.get("/monthly-budget.json", function (data) {
        let myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: {
                                                labels: ["Remaining Monthly Income", "PITI", "Other Debts"],
                                                datasets: [
                                                {
                                                "data": [random_var4, random_var, random_var2],
                                                "backgroundColor": [
                                                    "#FF6384",
                                                    "#36A2EB",
                                                    "#FFCE56"
                                                ]
                                                }
                                                ]
                                              },
                                              options: options
                                            });
        $('#donutLegend').html(myDonutChart.generateLegend());
        // });

        var another_var = '{{ mo_salary_left }}' * .64; 
        var another_var2 = ('{{ mo_salary_left }}' * .36) - random_var2;

        function updateChart() {
            myDonutChart.data.datasets[0].data = [another_var, another_var2, random_var2];
            myDonutChart.update();
        }

        function revertChart() {
            myDonutChart.data.datasets[0].data = [random_var4, random_var, random_var2];
            myDonutChart.update();
        }

        /* For first slider */ 
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; 

        slider.oninput = function() {
            output.innerHTML = this.value; 
        }


        
    </script>


{% endblock %}