{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}


<section class="house-1 container-fluid d-flex justify-content-center align-items-center">
<div class="row">
    <div class="col-xs-12">

      <!-- <h1 class="mx-5 text-light">Find Your Dream Home</h1> -->
      <p class="display-3 pt-5 text-white" align="center">
        ScoutHouse
      </p>  
      <div class="text-center pt-5 pb-5">
          {% if session.get('username') %}
            <a class="btn btn-primary" href="/logout" role="button">Log Out</a>
          {% else %}
            <a class="btn btn-primary" href="/login" role="button">Log In</a>
            <a class="btn btn-primary" href="/userinfo" role="button">Sign Up</a>
          {% endif %}
      </div>
    </div>

  </div>
</section>

<section
      class="container-fluid d-flex justify-content-center align-items-center"
    >
      <div class="row justify-content-center">
        <div class="col-10">
          <p class="display-4 pt-5" align="center" style="color:#C0B283;">
            <b>Why</b>
            <br>
            <b>ScoutHouse</b> 
          </p>
            <p class="pt-3 pb-5 mx-2" align="center">
            Maybe you think you've found your dream home, but after seeing that price point, wondered whether it really was the perfect home for you?
            That's where ScoutHouse comes in- all you have to do is enter in some
            basic information about yourself (think: your household income and other debts) and we'll handle the rest. 
            We'll take care of all the boring calculations and income ratios to tell you whether that dream home is within your reach. 
            <br>Yes, it's really that <b>easy</b>! 
            </p>
          <hr width="60%">
        </div>
      </div>

</section>

<div class="card mt-5 mx-auto" style="max-width: 40rem;">
    <div class="row">
        <div class="col p-4 mx-2">
            <i class="fas fa-home fa-10x"></i>
        </div>
        <div class="col p-4 mx-2" align="center">
            <h5 style="color:#C0B283">Look up Homes</h5>
            <p>Search homes by address to see how affordable it is</p>
            {% if session.get('username') %}
                <a class="btn btn-primary" href="/searchhome" role="button">View Homes</a>
            {% else %}
                <a class="btn btn-primary" href="/login" role="button">Log In to View Homes</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="card mt-5 mx-auto" style="max-width: 40rem;">
    <div class="row">
        <div class="col p-4 mx-2">
            <i class="fas fa-building fa-10x"></i>
        </div>
        <div class="col p-4 mx-2" align="center">
            <h5 style="color:#C0B283;">Look up Neighborhoods</h5>
            <p>Search regions in a city to see how affordable they are</p>
            {% if session.get('username') %}
                <a class="btn btn-primary" href="/searchregion" role="button">View Neighborhoods</a>
            {% else %}
                <a class="btn btn-primary" href="/login" role="button">Log In to View Neighborhoods</a>
            {% endif %}
        </div>
    </div>
</div>


   <!--  <div class="row">
        <div class="col-12">
            {% if session.get('username') %}
                <a href="/userinfo">Update User Info</a></h3>
            {% else %}
                <a href="/userinfo">Sign Up</a></h3>
            {% endif %}

            {% if session.get('username') %}
                <a href="/logout">Log Out</a>
            {% else %}
                <a href="/login">Log In</a>
            {% endif %}

        </div>
    </div> -->
   
    <!-- <h3><a href="/searchhome">View Homes</a></h3>

    <h3><a href="/searchregion">View Neighborhoods</a></h3> -->


</section>

<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
  </div>
</div> -->

   

{% endblock %}