{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">

    <div class="col-xs-12">

      {% if session.get('username') %}
        You are already logged in! No need to sign up
        {% else %}
        Go and Sign up! 
        {% endif %}

      <h2>Enter Some Basic Info</h2>
      
      <form action="/userinfo" method="post">

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="text" name="email" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" class="form-control" type="text" name="password" required>
        </div>

        <div class="form-group">
          <label for="gross-salary">Gross Salary</label>
          <input id="gross-salary" class="form-control" type="number" name="salary" required>
        </div>

        <div class="form-group">
          <label for="downpayment">Downpayment Amount*</label>
          <input id="downpayment" class="form-control" type="number" name="downpayment">
        </div>

        <div class="form-group">
          <label for="other-debts">Monthly Amount of Other Debts</label>
          <input id="other-debts" class="form-control" type="number" name="debts" required>
        </div>

        <input type="submit" value="Submit your Info!" class="btn btn-primary">

      </form>

    </div>

  </div>




{% endblock %}